body {
    font-family: "Montserrat", Arial, sans-serif;
    background: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #24252a;
    margin-bottom: 20px;
}

#nav-bar-title {
    margin: 0;
    color: #fff;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

nav ul li a.active::after,
nav ul li a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 0.3s;
}

nav ul li a.active::after {
    transform-origin: left;
    transform: scaleX(1);
}

nav ul li a:hover::after {
    transform-origin: right;
    transform: scaleX(0);
}

/* FIN NAVBAR */

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

code {
    font-family: monospace;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 1.3em;
}

.doc-title {
    font-size: 2.5em;
    color: #333;
}

.code-class {
    font-size: 1.2em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.image {
    flex-basis: 15%;
    width: 100%;
    max-width: fit-content;
}

.text {
    font-size: 20px;
    padding-left: 20px;
}